.table-container {
    overflow-x: auto;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0;

    td,
    th {
        font-size: 0.875rem;
        display: table-cell;
    }

    th {
        font-weight: 500;
    }

    td {
        font-weight: 400;
    }

    .table-cell:first-child {
        padding-left: 1.2rem;
        text-align: left;
    }
}